/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
	background:url(../images/purty_wood.png) repeat;
}

#helpLink {
	color:#fff;
	width:130px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:24px;
	position: fixed;
	left:-20px;
	top:100px;
	padding:10px 10px 10px 25px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: -moz-linear-gradient(top, #ff0000 0%, #830000 80%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(80%,#830000));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#830000',GradientType=0 );
	box-shadow:  inset  0 0 10px #222;
	-webkit-box-shadow:  inset  0 0 10px #222;
	-moz-box-shadow:  inset  0 0 10px #222;
	border-top:1px solid #555;
	border-right:1px solid #444;
	border-bottom:1px solid #333;
}
#helpLink a{color:#fff}
#header{
	background:rgba(0,0,0,.6);
	padding:10px 0;
	color:#ccc;
	box-shadow: 0 2px 5px rgba(0,0,0,.55);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.55);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.55);
	border-bottom:1px solid #444;
}

nav a.button {margin-top:5px;}

h1{
	font-weight:normal;
	font-size:36px;
	color:#efefef;
	padding:0;
	margin:0;
	text-shadow:0 1px 0 #fff;
}

h2{
	color:rgba(0,0,0,.75);
	text-shadow:0 1px 0 rgba(250,250,250,.5);
}

div.panel{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 .button.right{margin-left:5px;}

/* -----------------------------------------
   Check-in
----------------------------------------- */
#checkIn{margin-top:50px;}

#otherGuardian{display:none;}

/* -----------------------------------------
   Check Out
----------------------------------------- */
#checkOut{
	margin-top:600px;
}

/* -----------------------------------------
  Register Child
----------------------------------------- */
#addChild{
	margin-top:600px;
}
#addChild form {margin:0;}
.dobSelect{display:inline-block; width:81px;}

/* -----------------------------------------
   Register Guardian
----------------------------------------- */
#addGuardian{
	margin-top:600px;
}
/* -----------------------------------------
   Footer
----------------------------------------- */
#footer{
	margin-top:50px;
	background:rgba(0,0,0,.6);
	border-top:1px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
	color:#efefef;
}
#footer h3{
	font-weight:normal;
	color:#efefef;
	text-shadow:0 1px 0 #000;
	border-bottom:1px solid #efefef;
}

#copyright {
	color:#000;
	border-top:1px solid #363636;
	margin-top:10px;
	padding-top:10px;
	text-align:center;
}
#copyright a {color:#999;}
#copyright a:hover{color: #efefef;}


/* -----------------------------------------
   Forms
----------------------------------------- */
select {
	font-size:13px;
	width:254px;
	padding:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;	
	border-radius: 2px;
	border:1px solid #bbb;
}

/* -----------------------------------------
   Reveal modals
----------------------------------------- */
.reveal-modal button.close-reveal-modal { 
		position: relative;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 13px; font-size: 1.3rem;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		} 
